{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>{{ 'fullpipe_banner.place.header_update'|trans }} <small>{{ place.name }}</small></h1>
<hr />

<form action="{{ path('fullpipe_sylius_backend_place_update', {'id': place.id}) }}" method="post" class="form-horizontal">
    {% include 'FullpipeBannerBundle:Place:_form.html.twig' %}
    {{ actions.update(path('fullpipe_sylius_backend_place_index')) }}
</form>
