{% if banners|length > 0 %}
{% spaceless %}
<ul class="fullpipe-banner-list {% if attr.class is defined %}{{ attr.class }}{% endif %}">
    {% for banner in banners %}
        <li>
            <a href="{{ banner.url }}">
                <img src="{{ banner|web_path }}" alt="{{ banner.name }}" />
            </a>
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}