{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>{{ 'fullpipe_banner.banner.header_create'|trans|raw }}</h1>
<hr />

<form action="{{ path('fullpipe_sylius_backend_banner_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'FullpipeBannerBundle:Banner:_form.html.twig' %}
    {{ actions.create(path('fullpipe_sylius_backend_banner_index')) }}
</form>
